body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #f3f3f3;
}

ul {
  box-sizing: border-box;
  margin: auto;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
  background-color: #fff;
}

ul li {
  display: block;
  font-style: italic;
}

ul p {
  cursor: pointer;
}
